In [32]:
# Importing the relevent directories

from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [34]:
 # Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\sunny\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [35]:
# Creating a list to scrapping data

marslatest = {}
marsimage = {}

Scraping data using Splinter for https://redplanetscience.com/ where we need the Latest news title and paragraph

In [36]:
    # URL for NASA Mars News
    url = 'https://redplanetscience.com/'
    browser.visit(url)
      
    # HTML object
    html = browser.html

    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

    # Retrieve all elements that contain book information
    latestnews = soup.find_all('div', class_='list_text')

    for news in latestnews:
        marslatest["title"]     = news.find(class_='content_title').get_text()
        marslatest["paragraph"] = news.find(class_='article_teaser_body').get_text()
        print(marslatest)
        print("---------------------------------------------------------------------------------------------------------------------")

{'title': "NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet", 'paragraph': 'The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.'}
---------------------------------------------------------------------------------------------------------------------
{'title': "Follow NASA's Perseverance Rover in Real Time on Its Way to Mars", 'paragraph': "A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing."}
---------------------------------------------------------------------------------------------------------------------
{'title': "NASA's Mars 2020 Rover Closer to Getting Its Name", 'paragraph': "155 students from across the U.S. have been chosen as semifinalists in NASA's essay contest to name the Mars 2020 rover, and see it launch from Cape Canaveral this July."}
---------------------------------------------------------------------------------------------------------------------
{'title': "Hear Audio From NASA's Perseverance As It Travels Through Deep Space", 'paragraph': "The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight."}
---------------------------------------------------------------------------------------------------------------------
{'title': "Curiosity Mars Rover's Summer Road Trip Has Begun", 'paragraph': 'After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.'}
---------------------------------------------------------------------------------------------------------------------
{'title': "Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch", 'paragraph': "A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff."}
---------------------------------------------------------------------------------------------------------------------
{'title': 'MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss', 'paragraph': 'Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.'}
---------------------------------------------------------------------------------------------------------------------
{'title': 'NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget', 'paragraph': "Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return."}
---------------------------------------------------------------------------------------------------------------------
{'title': "Meet the People Behind NASA's Perseverance Rover", 'paragraph': "These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater. "}
---------------------------------------------------------------------------------------------------------------------
{'title': "NASA's Mars 2020 Comes Full Circle", 'paragraph': "Aiming to pinpoint the Martian vehicle's center of gravity, engineers took NASA's 2,300-pound Mars 2020 rover for a spin in the clean room at JPL. "}
---------------------------------------------------------------------------------------------------------------------
{'title': 'With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen', 'paragraph': 'For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars. '}
---------------------------------------------------------------------------------------------------------------------
{'title': "NASA's Perseverance Rover Is Midway to Mars ", 'paragraph': "Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."}
---------------------------------------------------------------------------------------------------------------------
{'title': "Alabama High School Student Names NASA's Mars Helicopter", 'paragraph': "Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet."}
---------------------------------------------------------------------------------------------------------------------
{'title': "6 Things to Know About NASA's Ingenuity Mars Helicopter", 'paragraph': 'The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.'}
---------------------------------------------------------------------------------------------------------------------
{'title': "A Year of Surprising Science From NASA's InSight Mars Mission", 'paragraph': "A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet."}
---------------------------------------------------------------------------------------------------------------------

Scraping image using Splinter from https://spaceimages-mars.com/ for latest featured Mars Image

In [37]:
    executable_path = {'executable_path': ChromeDriverManager().install()}
    browser = Browser('chrome', **executable_path, headless=False)
    
    # URL for NASA Mars News
    url = 'https://spaceimages-mars.com/'
    browser.visit(url)
      
    # HTML object
    html = browser.html

    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

    # Retrieve the header image from Space Image website
    marsimage       = soup.find('img', class_='headerimage fade-in') 
   
    image           = marsimage['src']

    # Saving the the web link in featured_image)url
    featured_image_url = ('https://spaceimages-mars.com/' + image)

    print(featured_image_url)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\sunny\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

https://spaceimages-mars.com/image/featured/mars3.jpg

Scraping with Pandas

In [38]:
url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

Transpose the Mars Planet Profile table with appropriate Headers

In [43]:
profile_df = tables[1]
transpose_profile_df = profile_df.transpose()
transpose_profile_df.columns = transpose_profile_df.iloc[0]
transpose_profile_df = transpose_profile_df[1:]
transpose_profile_df

,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 ( Phobos & Deimos ),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

Converting the Mars Planet Profile Pandas Dataframe to HTML table

In [45]:
html_profile_table = transpose_profile_df.to_html()
html_profile_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Equatorial Diameter:</th>\n      <th>Polar Diameter:</th>\n      <th>Mass:</th>\n      <th>Moons:</th>\n      <th>Orbit Distance:</th>\n      <th>Orbit Period:</th>\n      <th>Surface Temperature:</th>\n      <th>First Record:</th>\n      <th>Recorded By:</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>6,792 km</td>\n      <td>6,752 km</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n      <td>227,943,824 km (1.38 AU)</td>\n      <td>687 days (1.9 years)</td>\n      <td>-87 to -5 °C</td>\n      <td>2nd millennium BC</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Transpose the Mars - Earth Comparision table with appropriate Headers

In [46]:
comparision_df = tables[0]
transpose_comp_df = comparision_df.transpose()
transpose_comp_df.columns = transpose_comp_df.iloc[0]
transpose_comp_df = transpose_comp_df[1:]
transpose_comp_df

,Mars - Earth Comparison,Diameter:,Mass:,Moons:,Distance from Sun:,Length of Year:,Temperature:
1,Mars,"6,779 km",6.39 × 10^23 kg,2,"227,943,824 km",687 Earth days,-87 to -5 °C
2,Earth,"12,742 km",5.97 × 10^24 kg,1,"149,598,262 km",365.24 days,-88 to 58°C

Converting the Mars - Earth Comparision Pandas Dataframe to HTML table

In [47]:
html_comp_table = transpose_comp_df.to_html()
html_comp_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Diameter:</th>\n      <th>Mass:</th>\n      <th>Moons:</th>\n      <th>Distance from Sun:</th>\n      <th>Length of Year:</th>\n      <th>Temperature:</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Mars</td>\n      <td>6,779 km</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>2</td>\n      <td>227,943,824 km</td>\n      <td>687 Earth days</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Earth</td>\n      <td>12,742 km</td>\n      <td>5.97 × 10^24 kg</td>\n      <td>1</td>\n      <td>149,598,262 km</td>\n      <td>365.24 days</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'